<div class="app-snake-board" (keydown)="keyPressed($event)" tabindex="0" >
    <div>
        <h2>SNAKE GAME</h2>
    </div>

    <div *ngIf="bang === true" class="popup">
        <div class="popuptext">
            <div><button (click)="initGame()">  Start Again  </button></div>
            <div><button (click)="resetGame()">  Reset  </button></div>
            <div class="content-row">
                <span>Score : </span>
                <span>{{ score }}</span>
            </div>
            <div class="content-row">
                <span> Highest Score : </span>
                <span>{{ highestScore }}</span>
            </div>
            <div *ngIf="foodCounter" class="content-row"> 
                <h3>Units of Food Consumed :: {{ foodCounter }} </h3>
            </div>
        </div>
    </div>

    <div *ngIf="bang === false" >
        <div class="board">
            <!-- GRID -->
            <div *ngFor="let row of board; let i=index;" class="row">
                <div *ngFor="let cell of row; let j=index;" class="{{getCellClass(i, j)}}">
                </div>
            </div>
        </div>
        <div>
            <div class="content-row">
                <span>Score : </span>
                <span>{{ score }}</span>
            </div>
            <div class="content-row">
                <span> Highest Score : </span>
                <span>{{ highestScore }}</span>
            </div>
        </div>
        <div *ngIf="foodCounter" class="content-row"> 
            <h3>Units of Food Consumed :: {{ foodCounter }} </h3>
        </div>
    </div>

    
</div>
