
.app-snake-board {
    text-align: center;
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.board {
    outline: 2px solid rgb(134, 154, 189);
    font-size: 8px;
  }
  
  .row {
    height: 35px;
  }
  
  .cell {
    width: 35px;
    height: 35px;
    outline: 1px solid rgb(134, 154, 189);
    display: inline-block;
    text-align: center;
    vertical-align: middle;   
    border-radius: 20px; 
  }

  .cell-food {
    background-color: purple;
  }

  .cell-special-food {
    background-color: blue;
  }

  .cell-snake-head {
    background-color: green;
  }

  .cell-snake-tail {
    background-color: green;
    border-radius: 30px; 
  }

  .cell-snake-body {
    background-color: green;
  }

  .cell-bang {
    background-color: red;
  }
  
  

  .popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }

  .popup .popuptext {
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 15px;
    padding: 20px;
  
    button {
      background-color: rgb(134, 154, 189);
      border-radius: 10px;
      padding: 4px 6px;
      color: white;
      font-weight: bold;
    }

    .content-row {
      margin-top: 2px;
    }
  }

  
  